Neosinerji.BABOnlineTP.Business/Web References/eurekosigorta.musteriV2/CustomerProcessV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://CustomerProcessV2.webservices.gb.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://CustomerProcessV2.webservices.gb.com" targetNamespace="http://CustomerProcessV2.webservices.gb.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://CustomerProcessV2.webservices.gb.com" elementFormDefault="qualified" targetNamespace="http://CustomerProcessV2.webservices.gb.com">
      <xsd:simpleType name="Address">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="75" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InHeader">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="CompanyId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="UserId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Password">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PlatformType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="DVL" />
                              <xsd:enumeration value="EGT" />
                              <xsd:enumeration value="TST" />
                              <xsd:enumeration value="PRD" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="MessageId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="36" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InCustomer">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="CustomerType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="TaxNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="11" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="MernisNum">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
MERNIS
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="15" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="CitizenText">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
UYRUGU
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="SettledCountryCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InAddressCustomer">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="CityCodeNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="MailingAddressType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PropertyType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="CountyCodeText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="6" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="VillageType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="VillageCodeText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="6" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="VillageName">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="45" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ZipCodeNumber">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="11" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="AddressType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="Address" type="impl:Address" />
                        <xsd:element minOccurs="0" name="CountryCodeText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="InsuranceCountyName">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="45" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InPhoneCustomer">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="RecordType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="AreaCodeNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="CountryCodeNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PhoneNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="15" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InEmailCustomer">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="Address" type="impl:Address" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InNonCommercialCustomer">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="EducationCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
OGRENIM_DURUMU
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="WorkingStyleCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ActivityCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="JobCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="GroupCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="9" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="AkademicTitleCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
AKADEMIK_UNV_KODU
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InPolicyMaster">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="SourceId">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Poliçenin yaratma kaynağı... CC/WEB vb...
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="AgencyCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Acente  kodu. (External)  GENERAL_AGENCY dosyasından kontrol edilecektir.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="SubAgencyCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Acente Tali Kodu -External   GENERAL_AGENCY dosyasından kontrol edilir.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InCrossGlobalInfo">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="InsuranceCustomerId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="9" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="TellerUnitNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="WorkingUnitNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="AgencyCustomerId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="9" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="CoverAgencyId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Response">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="OutHeader">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="IsSuccessfull">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ResponseMessage">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ResponseCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutCustomer">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="CustomerNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="9" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="NameText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="75" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SurnameText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="75" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="BirthDate">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SexCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
CINSIYETI
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteRequest">
    <wsdl:part name="parameters" element="impl:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteResponse">
    <wsdl:part name="parameters" element="impl:ExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerProcessV2">
    <wsdl:operation name="Execute">
      <wsdl:input name="ExecuteRequest" message="impl:ExecuteRequest" />
      <wsdl:output name="ExecuteResponse" message="impl:ExecuteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerProcessV2SoapBinding" type="impl:CustomerProcessV2">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ExecuteRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ExecuteResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerProcessV2Service">
    <wsdl:documentation xml:lang="tr">
DEĞİŞİKLİK:1.0
YAYIM TARİHİ: 20-02-2011
AMAÇ: Sigortada yeni müşteri yaratmak veya güncellemek

REVISION: 1.0
RELEASED ON: 20-02-2011
PURPOSE: Create or Update a customer for Insurance company.
   
    	</wsdl:documentation>
    <wsdl:port name="CustomerProcessV2" binding="impl:CustomerProcessV2SoapBinding">
      <wsdlsoap:address location="http://eswsps-t.eurekosigorta.com.tr:80/ESWS/services/CustomerProcessV2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>