Neosinerji.BABOnlineTP.Business/Web References/eureko.policeteklifbilgi/PolicyGenInfoReadV3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://PolicyGenInfoReadV3.webservices.gb.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://PolicyGenInfoReadV3.webservices.gb.com" targetNamespace="http://PolicyGenInfoReadV3.webservices.gb.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://PolicyGenInfoReadV3.webservices.gb.com" elementFormDefault="qualified" targetNamespace="http://PolicyGenInfoReadV3.webservices.gb.com">
      <xsd:simpleType name="InternalEndorsementNum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Dahili zeyl no. Her bir zeyl altında otomatik numara verilecektir.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EndorsementNum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Zeyl No . Poliçe ve zeyl girişlerinde sistem tarafından otomatik olaraksıfır değeri atanacaktır. Yenilemelerde poliçe nosu değişmeyecek, tecdit nosu 1'den başlayarak otomatik numara verilecektir. Tecditlerde sıfırlanacaktır.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SubAgencyCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Acente Tali Kodu -External   GENERAL_AGENCY dosyasından kontrol edilir.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AgencyCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Acente  kodu. (External)  GENERAL_AGENCY dosyasından kontrol edilecektir.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="InstallmentAmount">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Ödenecek Taksit Tutarı
                  </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="17" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AccrueCompCurrPremiumAmount">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Şirketin para birimi cinsinden Yazılan Prim.Her bir teminat için bir kayıt satırı bulunacaktır.
TRL KULLANAN İÇİN TRL DEĞER, USD KULLANAN ŞİRKET İÇİN USD (YAZILIMIN YURT DIŞINA SATILMA İHTİMALİNE KARŞI)            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="17" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RenewalNum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Tecdit (Yenileme) No    Poliçe ve zeyl girişlerinde sistem tarafından otomatik olarak sıfır atanacaktır.Yenilemelerde poliçe nosu değişmeyecek, tecdit nosu birden başlayarak otomatik numara alacaktır.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PolicyGroupNum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Grup Sıra No GENERAL_NUM_COUNT dosyasından tip kodu "G" olarak otomatik numara verilecektir.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="7" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ChangeSequenceNum">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CompanyCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Şirket kodu. GENERAL_COMPANY dosyasından kontrol edilecektir veya kullanıcı tanımına  göre otomatik olarak atanacaktır.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PolicyNum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
Poliçe/Sertifika No.  GENERAL_NUM_COUNT dosyasından tip kodu "P" olarak otomatik numara  verilecektir.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InHeader">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="CompanyId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="UserId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Password">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PlatformType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="DVL" />
                              <xsd:enumeration value="EGT" />
                              <xsd:enumeration value="TST" />
                              <xsd:enumeration value="PRD" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="MessageId">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="36" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InPolicyMaster">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="CompanyCode" type="impl:CompanyCode" />
                        <xsd:element minOccurs="0" name="PolicyGroupNum" type="impl:PolicyGroupNum" />
                        <xsd:element minOccurs="0" name="PolicyNum" type="impl:PolicyNum" />
                        <xsd:element minOccurs="0" name="RenewalNum" type="impl:RenewalNum" />
                        <xsd:element minOccurs="0" name="EndorsementNum" type="impl:EndorsementNum" />
                        <xsd:element minOccurs="0" name="InternalEndorsementNum" type="impl:InternalEndorsementNum" />
                        <xsd:element minOccurs="0" name="ChangeSequenceNum" type="impl:ChangeSequenceNum" />
                        <xsd:element minOccurs="0" name="AgencyCode" type="impl:AgencyCode" />
                        <xsd:element minOccurs="0" name="SubAgencyCode" type="impl:SubAgencyCode" />
                        <xsd:element minOccurs="0" name="SourceId">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Poliçenin yaratma kaynağı... CC/WEB vb...
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Response">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="OutHeader">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="IsSuccessfull">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ResponseMessage">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ResponseCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutPolicyMaster">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="CompanyCode" type="impl:CompanyCode" />
                        <xsd:element minOccurs="0" name="PolicyGroupNum" type="impl:PolicyGroupNum" />
                        <xsd:element name="PolicyNum" type="impl:PolicyNum" />
                        <xsd:element name="EndorsementNum" type="impl:EndorsementNum" />
                        <xsd:element name="ChangeSequenceNum" type="impl:ChangeSequenceNum" />
                        <xsd:element name="AgencyCode" type="impl:AgencyCode" />
                        <xsd:element name="SubAgencyCode" type="impl:SubAgencyCode" />
                        <xsd:element name="ProductCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Branş kodu
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="TariffCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Brabş Tarife Kodu
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="StatusCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Durum Kodu. Poliçe ilk girildiğinde sistem tarafından STATUS kolonuna 'MR' atancaktır. MR: MeriKI: Kısmi İptalMI: Mebdeinden İptalBT: BattalGC: GeçersizDR: Donduruldu
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PaymentType">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Ödeme tipi. PARAMETER_TARIFF_PRODUCT_PAYMENT tablosundan kontrol edilecektir.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="TotalNetPremiumAmount">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Toplam Vergi Öncesi Net Prim. POLICY_COVERAGE_AMOUNT dosyasındaki bileşenler bazında yazılan prim  &lt;ACCRUED_PREMIUM&gt; toplamıdır.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="TotalGrossPremiumAmount">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Toplam brüt prim. TOTAL_NET_PREMIUM + TOTAL_TAX
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AgencyTotalCommissionAmount">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Acente Toplam Komisyonu . POLICY_COMMISSION dosyasındaki bileşenler bazında yazılan komisyon toplamıdır.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CurrencyCode">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Para Birimi
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="RecordType">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Kayıt Tipi  PP: PoliçeTZ: Tekli ZeylKZ: Kombine ZeylYO: Yenileme OtomatikYM: Yenileme ManualGP: GrupTF: TeklifEI: Eksik İşKV:Kuver
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="RenewalNum" type="impl:RenewalNum" />
                        <xsd:element name="InternalEndorsementNum" type="impl:InternalEndorsementNum" />
                        <xsd:element name="UnderwritingDate">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Underwriting tarihi. (Sözleşmenin başlangıç tarihi girilir).             Poliçe ilk girildiğinde POLICY_START_DATE ile aynı değeri alır. Bu kayda zeyl girişleri yapılırken UW tarihi hiç değişmez, aynı kalır. Ancak tecdit yapıldığında UW ile POLICY_START_DATE kolonları tekrar aynı değerleri alır.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PolicyStartDate">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Vade başlangıç tarihi.                                                               
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PolicyStartTime">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="6" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PolicyEndDate">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Vade bitiş tarihi.  Otomatik olarak atanıp atanmayacağı GENERAL_PRODUCT tablosundan kontrol edilmelidir. Nakliyat branşlarında bu kolon sorgulanmamalıdır.- Vade başlangıç tarihi, vade bitiş tarihinden büyük olamaz (poliçe+zeyl).- Zeyllerde, sistem tarihi vade bitiş tarihi kontrol edilir. Eğer sistem tarihi vade bitiminden büyükse işleme yalnızca AUTHORITY_USER tablosundaki SYSTEM_END_DATE kolonunun değeri 'E' ise izin verilir.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ProposalDate">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Teklif Tarihi
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="RenewalDate">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Yenileme Tarihi.  Sistem otomatik olarak bitiş tarihini atacaktır. Elle müdahale edilebilir ama bitiş tarihinden önce olamaz
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ProcessingDate">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Tanzim tarihi.   Direkt poliçe kullanılırken; Tanzim-Başlama tarihi ile ilgili kontrolleri GENERAL_PRODUCT tablosundan kontrol edecektir. Yetki tanımlarından farklı bir değer gelip buradaki kontrolü değiştirebilecektir.- Ay kapalı kontrolü yapılacaktır.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="TariffVersionNum">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Tarife versiyon no. PARAMETER_TARIFF tablosundan kontrol edilir. Grup açılış poliçesinde boş geçilebilecektir.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="TotalTaxAmount">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Toplam vergi. POLICY_TAX dosyasındaki bileşenler bazında vergi toplamıdır.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ExchangeRate">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Kur.  GENERAL_ EXCHANGE_TRANSACTION tablosundan poliçe tanzim tarihi kontrol edilir ve atanır. Şu an için sözkonusu olmasa da ileride özel kur girişi yapılabilir.
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="6" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutDaskScreen">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="PolicePrimi">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutGlobalInfo">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="PaymentTypeName">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="32" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutComponentTaxTotals">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="GrfTl">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Grf">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ThfTl">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Thf">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="YsvTl">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Ysv">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="GdvTl">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Gdv">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutRiskQuestionValues">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="DaskPrice">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="DaskChangeSequenceNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="DaskEndorsementNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="DaskRenewalNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="DaskPolicyNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="EarthquakeRegionCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="BuildingType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Ra">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SeatNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VehicleUsage">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VehicleType">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Araç tipi
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SasiNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="EngineNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="RegPlate">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VehiclePrice">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ManufactureYear">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="4" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VehiclePriceCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="6" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VagonFlightNum">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="FinalLocation">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="InitLocation">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VehicleName">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VehicleKind">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="EmtiaDetails">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PolicyNumText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AdditionalPrice">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="25" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="InsurancePrice">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CurrencyCost">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CurrExchangeRate">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="RenewalReductRate">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="4" />
                              <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="GroupPolReductRate">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="4" />
                              <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ConstructionDateReductRt">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="4" />
                              <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutUavtAddressInfo">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="UavtAddressCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VicinityVillageCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="QuarterCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CsbmTypeCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CsbmCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="10" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="BuildingCode">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="15" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="VicinityVillageText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="110" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="QuarterText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="100" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CsmbText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="100" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="BlockApartmentText50">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="50" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="NitelikKod">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="DaireKod">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                              <xsd:totalDigits value="15" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutNetPolicySumInsured">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="AccrueCompCurrPremiumAmount" type="impl:AccrueCompCurrPremiumAmount" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutGrossPolicySumInsured">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="AccrueCompCurrPremiumAmount" type="impl:AccrueCompCurrPremiumAmount" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutTlPolicyCommission">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="CommissionAmount">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="en">
Komisyon Tutarı
            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="17" />
                              <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutGroupPaymentSchedule">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="310" name="OutGroupPaymentScheduleRow">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="OutTlPolicyPaymentSchedule">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="InstallmentAmount" type="impl:InstallmentAmount" />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="OutPolicyPaymentSchedule">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="DueDate">
                                      <xsd:annotation>
                                        <xsd:documentation xml:lang="en">
TAKSİT TARİHİ
                  </xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:integer">
                                          <xsd:totalDigits value="8" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="InstallmentAmount" type="impl:InstallmentAmount" />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OutCustomer">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="NameText">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="75" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteRequest">
    <wsdl:part name="parameters" element="impl:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteResponse">
    <wsdl:part name="parameters" element="impl:ExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="PolicyGenInfoReadV3">
    <wsdl:operation name="Execute">
      <wsdl:input name="ExecuteRequest" message="impl:ExecuteRequest" />
      <wsdl:output name="ExecuteResponse" message="impl:ExecuteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PolicyGenInfoReadV3SoapBinding" type="impl:PolicyGenInfoReadV3">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ExecuteRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ExecuteResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyGenInfoReadV3Service">
    <wsdl:documentation xml:lang="tr">
DEĞİŞİKLİK: 0
YAYIM TARİHİ: 23-03-2011
AMAÇ: Poliçe Genel Bilgi Okuma  External 'Service Server'.

REVISION: 0
RELEASED ON: 23-03-2011
PURPOSE:  Policy General Info Read External 'Service Server'.
   
    	</wsdl:documentation>
    <wsdl:port name="PolicyGenInfoReadV3" binding="impl:PolicyGenInfoReadV3SoapBinding">
      <wsdlsoap:address location="http://eswsps-t.eurekosigorta.com.tr:80/ESWS/services/PolicyGenInfoReadV3" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>