Neosinerji.BABOnlineTP.Business/Web References/unicosigorta.previva/PolicyService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationBlocks.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationBlocks.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertNo" type="xs:int" />
      <xs:element minOccurs="0" name="AlertText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
</xs:schema>