Neosinerji.BABOnlineTP.Business/Web References/unicosigorta.previva/PolicyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolicyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd5" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/EntitySpaces.NonLife.Policy" />
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationBlocks.Common" />
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntitySpaces.NonLife.TypeMapping" />
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BLL.NonLife.Policy" />
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EntitySpaces.External.Policy.ReturningType" />
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/EntitySpaces.NonLife.Policy.ReturningType" />
      <xsd:import schemaLocation="http://previva.unicosigorta.com.tr/Public/PolicyService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPolicyService_GetPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicyWithOldPolicyNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyWithOldPolicyNumber" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicyWithOldPolicyNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyWithOldPolicyNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicyListWithDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyListWithDate" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicyListWithDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyListWithDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicyReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyReport" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicyReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyReportResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetCreditCardForm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditCardForm" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetCreditCardForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditCardFormResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_CheckActiveProductByInsured_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckActiveProductByInsured" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_CheckActiveProductByInsured_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckActiveProductByInsuredResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetCustomerNo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerNo" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetCustomerNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerNoResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_CreatePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_CreatePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_CreateSupplement_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupplement" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_CreateSupplement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupplementResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetCostList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCostList" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetCostList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCostListResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPremiumList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPremiumList" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPremiumList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPremiumListResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetCollectingTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectingTypes" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetCollectingTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectingTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPayment" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPaymentWithPaymentCode_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPaymentWithPaymentCode" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPaymentWithPaymentCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPaymentWithPaymentCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPaymentRSA_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPaymentRSA" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPaymentRSA_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPaymentRSAResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPayment3D_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPayment3D" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPayment3D_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPayment3DResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPaymentWithPaymentCode3D_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPaymentWithPaymentCode3D" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_MakePolicyPaymentWithPaymentCode3D_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePolicyPaymentWithPaymentCode3DResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_ConvertOrderToPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertOrderToPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_ConvertOrderToPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertOrderToPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetRenewPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRenewPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetRenewPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRenewPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetVehicleInfoByPlate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleInfoByPlate" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetVehicleInfoByPlate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleInfoByPlateResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_CheckPertVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPertVehicle" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_CheckPertVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPertVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetBirlikMarkaKod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBirlikMarkaKod" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetBirlikMarkaKod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBirlikMarkaKodResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPoliciesFromSegmentation_017_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPoliciesFromSegmentation_017" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPoliciesFromSegmentation_017_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPoliciesFromSegmentation_017Response" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPoliciesFromSegmentationOptimized_017_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPoliciesFromSegmentationOptimized_017" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPoliciesFromSegmentationOptimized_017_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPoliciesFromSegmentationOptimized_017Response" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPlateDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlateDetail" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPlateDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlateDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IPolicyService">
    <wsdl:operation name="GetPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPolicy" message="tns:IPolicyService_GetPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyResponse" message="tns:IPolicyService_GetPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyWithOldPolicyNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyWithOldPolicyNumber" message="tns:IPolicyService_GetPolicyWithOldPolicyNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyWithOldPolicyNumberResponse" message="tns:IPolicyService_GetPolicyWithOldPolicyNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyListWithDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyListWithDate" message="tns:IPolicyService_GetPolicyListWithDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyListWithDateResponse" message="tns:IPolicyService_GetPolicyListWithDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyReport" message="tns:IPolicyService_GetPolicyReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyReportResponse" message="tns:IPolicyService_GetPolicyReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditCardForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetCreditCardForm" message="tns:IPolicyService_GetCreditCardForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetCreditCardFormResponse" message="tns:IPolicyService_GetCreditCardForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckActiveProductByInsured">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/CheckActiveProductByInsured" message="tns:IPolicyService_CheckActiveProductByInsured_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/CheckActiveProductByInsuredResponse" message="tns:IPolicyService_CheckActiveProductByInsured_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetCustomerNo" message="tns:IPolicyService_GetCustomerNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetCustomerNoResponse" message="tns:IPolicyService_GetCustomerNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/CreatePolicy" message="tns:IPolicyService_CreatePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/CreatePolicyResponse" message="tns:IPolicyService_CreatePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSupplement">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/CreateSupplement" message="tns:IPolicyService_CreateSupplement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/CreateSupplementResponse" message="tns:IPolicyService_CreateSupplement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCostList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetCostList" message="tns:IPolicyService_GetCostList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetCostListResponse" message="tns:IPolicyService_GetCostList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPremiumList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPremiumList" message="tns:IPolicyService_GetPremiumList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPremiumListResponse" message="tns:IPolicyService_GetPremiumList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollectingTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetCollectingTypes" message="tns:IPolicyService_GetCollectingTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetCollectingTypesResponse" message="tns:IPolicyService_GetCollectingTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPayment" message="tns:IPolicyService_MakePolicyPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPaymentResponse" message="tns:IPolicyService_MakePolicyPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPaymentWithPaymentCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPaymentWithPaymentCode" message="tns:IPolicyService_MakePolicyPaymentWithPaymentCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPaymentWithPaymentCodeResponse" message="tns:IPolicyService_MakePolicyPaymentWithPaymentCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPaymentRSA">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPaymentRSA" message="tns:IPolicyService_MakePolicyPaymentRSA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPaymentRSAResponse" message="tns:IPolicyService_MakePolicyPaymentRSA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPayment3D">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPayment3D" message="tns:IPolicyService_MakePolicyPayment3D_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPayment3DResponse" message="tns:IPolicyService_MakePolicyPayment3D_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPaymentWithPaymentCode3D">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPaymentWithPaymentCode3D" message="tns:IPolicyService_MakePolicyPaymentWithPaymentCode3D_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/MakePolicyPaymentWithPaymentCode3DResponse" message="tns:IPolicyService_MakePolicyPaymentWithPaymentCode3D_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertOrderToPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/ConvertOrderToPolicy" message="tns:IPolicyService_ConvertOrderToPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/ConvertOrderToPolicyResponse" message="tns:IPolicyService_ConvertOrderToPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRenewPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetRenewPolicy" message="tns:IPolicyService_GetRenewPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetRenewPolicyResponse" message="tns:IPolicyService_GetRenewPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleInfoByPlate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetVehicleInfoByPlate" message="tns:IPolicyService_GetVehicleInfoByPlate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetVehicleInfoByPlateResponse" message="tns:IPolicyService_GetVehicleInfoByPlate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPertVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/CheckPertVehicle" message="tns:IPolicyService_CheckPertVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/CheckPertVehicleResponse" message="tns:IPolicyService_CheckPertVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBirlikMarkaKod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetBirlikMarkaKod" message="tns:IPolicyService_GetBirlikMarkaKod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetBirlikMarkaKodResponse" message="tns:IPolicyService_GetBirlikMarkaKod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPoliciesFromSegmentation_017">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPoliciesFromSegmentation_017" message="tns:IPolicyService_GetPoliciesFromSegmentation_017_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPoliciesFromSegmentation_017Response" message="tns:IPolicyService_GetPoliciesFromSegmentation_017_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPoliciesFromSegmentationOptimized_017">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPoliciesFromSegmentationOptimized_017" message="tns:IPolicyService_GetPoliciesFromSegmentationOptimized_017_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPoliciesFromSegmentationOptimized_017Response" message="tns:IPolicyService_GetPoliciesFromSegmentationOptimized_017_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlateDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPlateDetail" message="tns:IPolicyService_GetPlateDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPlateDetailResponse" message="tns:IPolicyService_GetPlateDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPolicyService" type="tns:IPolicyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPolicy">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyWithOldPolicyNumber">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPolicyWithOldPolicyNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyListWithDate">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPolicyListWithDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyReport">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPolicyReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditCardForm">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetCreditCardForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckActiveProductByInsured">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/CheckActiveProductByInsured" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerNo">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetCustomerNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/CreatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSupplement">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/CreateSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCostList">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetCostList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPremiumList">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPremiumList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectingTypes">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetCollectingTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPayment">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/MakePolicyPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPaymentWithPaymentCode">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/MakePolicyPaymentWithPaymentCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPaymentRSA">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/MakePolicyPaymentRSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPayment3D">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/MakePolicyPayment3D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePolicyPaymentWithPaymentCode3D">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/MakePolicyPaymentWithPaymentCode3D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertOrderToPolicy">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/ConvertOrderToPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRenewPolicy">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetRenewPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleInfoByPlate">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetVehicleInfoByPlate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPertVehicle">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/CheckPertVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBirlikMarkaKod">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetBirlikMarkaKod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoliciesFromSegmentation_017">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPoliciesFromSegmentation_017" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoliciesFromSegmentationOptimized_017">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPoliciesFromSegmentationOptimized_017" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlateDetail">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPlateDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyService">
    <wsdl:port name="BasicHttpBinding_IPolicyService" binding="tns:BasicHttpBinding_IPolicyService">
      <soap:address location="http://previva.unicosigorta.com.tr/Public/PolicyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>